## SQL and SQLite

SQL(Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self contained, serverless, and zero configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databasesm tables and performing various SQL Operations.

In [2]:
import sqlite3

In [3]:
## Connecting to SQLite Database

connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [5]:
## Create a table 

cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    depeartment text
    )
''')


##Commit the changes

connection.commit()

In [6]:
cursor.execute('''
Select * from employees
''')

In [9]:
##Insert the data in sqlite table 

cursor.execute('''
Insert Into employees(name,age,depeartment)
               values("sanskar",22,"Data Scientist")
''')

cursor.execute('''
Insert Into employees(name,age,depeartment)
               values("sans",2,"Dataaaa Scientist")
''')

cursor.execute('''
Insert Into employees(name,age,depeartment)
               values("sa",7,"Scientist")
''')


## connection the changes

connection.commit()

In [ ]:
## Quering the data from the table

cursor.execute('''
Select * from employees              
''')

## cursor.excute('Select * from employees ')  you can write it in both way s

rows  = cursor.fetchall()


##print ṭhe queried data 


for row in rows:
    print(row)

(1, 'sanskar', 22, 'Data Scientist')
(2, 'sans', 2, 'Dataaaa Scientist')
(3, 'sa', 7, 'Scientist')
(4, 'sanskar', 22, 'Data Scientist')
(5, 'sans', 2, 'Dataaaa Scientist')
(6, 'sa', 7, 'Scientist')

In [13]:
## Update the data in the table 


cursor.execute('''
UPDATE employees
Set age = 70
where name = "sanskar"
''')

connection.commit()

In [ ]:
## Quering the data from the table

cursor.execute('''
Select * from employees              
''')

## cursor.excute('Select * from employees ')  you can write it in both way s

rows  = cursor.fetchall()


##print ṭhe queried data 


for row in rows:
    print(row)

(1, 'sanskar', 70, 'Data Scientist')
(2, 'sans', 2, 'Dataaaa Scientist')
(3, 'sa', 7, 'Scientist')
(4, 'sanskar', 70, 'Data Scientist')
(5, 'sans', 2, 'Dataaaa Scientist')
(6, 'sa', 7, 'Scientist')

In [15]:
## Delete the data from the table 

cursor.execute('''
DELETE from employees
where name="sanskar"

''')

In [16]:
## Quering the data from the table

cursor.execute('''
Select * from employees              
''')

## cursor.excute('Select * from employees ')  you can write it in both way s

rows  = cursor.fetchall()


##print ṭhe queried data 


for row in rows:
    print(row)

(2, 'sans', 2, 'Dataaaa Scientist')
(3, 'sa', 7, 'Scientist')
(5, 'sans', 2, 'Dataaaa Scientist')
(6, 'sa', 7, 'Scientist')

In [18]:
##Working with sales data 
##Connect to an SQLite database


connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

##Create a table for sales data 

cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
               id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT
                )
''')


## Insert data into tables 

sales_data = [
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',200,'South'),
    ('2023-01-03','Product1',300,'East'),
    ('2023-01-04','Product3',400,'West'),
    ('2023-01-05','Product2',500,'North')
]



connection.commit()

In [19]:
cursor.executemany('''
INSERT into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)



connection.commit()

In [21]:
## Quering the data from the table

cursor.execute('''
Select * from sales              
''')

## cursor.excute('Select * from employees ')  you can write it in both way s

rows  = cursor.fetchall()


##print ṭhe queried data 


for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 300, 'East')
(4, '2023-01-04', 'Product3', 400, 'West')
(5, '2023-01-05', 'Product2', 500, 'North')

In [ ]:
## Close the connection
connection.close()              ## we will not be able to use any operation on this connection object after this