***Tuples***

*Introduction to Tuples*

Tuples are ordered collections of items that are immuatable. They are similar to lists,but their immutability makes them different.

In [2]:
##Creating a Tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
numbers = tuple([1,2,3,4,5,6])
print(numbers)
print(type(numbers))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [5]:
da = list((1,2,3,4,5,6))
print(da)
print(type(da))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [6]:
mixed_tuple = (1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [ ]:
##Accessing tuple elements
numbers[::-1]
numbers[0:4]
numbers[::1]

(1, 2, 3, 4, 5, 6)

In [ ]:
##Tuples operations

numbers + mixed_tuple    ## concatination

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [24]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [25]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [28]:
##Immutable nature of tuples
##Tuples are immutable, means their elements cannot be changed once assigned 

lst = [1,2,3,4,5]
print(lst)
lst[1] = "sanskar"
print(lst)

[1, 2, 3, 4, 5]
[1, 'sanskar', 3, 4, 5]

In [29]:
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
##numbers[1] = "sanskar"

TypeError: 'tuple' object does not support item assignment

In [36]:
##Tuples Methods

print(numbers.count(9))
print(numbers.index(2))

0
1

In [ ]:
##Packing and Unpacking Tuples
##packing a tuple
packed_tuple = 1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [38]:
##Unpacking Tuple 
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [39]:
##Unpacking with *

numbers = (1,2,3,4,5,6)
first,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [43]:
##Nested Tuple
##Nested List

lst = [[1,2,3,4],[5,6,7],[8,9],[True,"sanskar"]]
print(lst[0])
print(lst[0][1])
print(lst[0][0:3])

[1, 2, 3, 4]
2
[1, 2, 3]

In [46]:
##Inside a list we can have a tuple

abc = [[1,2,3],(4,5,6),[7,"snd",8.33]]
print(abc[2])
print(abc[2][2])

[7, 'snd', 8.33]
8.33

In [48]:
nested_tuple = ((1,2,3),("a","b","c"),(8,9))
print(nested_tuple[1])
print(nested_tuple[0][1])

('a', 'b', 'c')
2

In [49]:
##Iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
8 9

Tuples are versatile and useful in  many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function and arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your python code.