**Variables**

Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them,and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a variable


    . Introduction to Variables
    . Declaring and assigning variables
    . Naming conventions
    . Understanding variable types
    . Type checking and conversion
    . Dynamic Typing 
    . Practical examples and common errors

In [1]:
a = 100

In [4]:
##declaring and assigfning variables
age = 30
height = 5.7  # in feet
name = "Sanskar"
is_student = True

##prining variables
print("Name : ",name)
print("Age : " , age)
print("Height : " , height)

Name :  Sanskar
Age :  30
Height :  5.7

In [5]:
##Naming conventions
##Variable name should be descriptive
##They must always start with a letter or an underscore '_' and contain letters,numbers and underscores 
##Varible names are case sensitive

##VALID VARIABLE NAMES
first_name = "Sanskar"
last_name = "Dagade"

In [9]:
##ERRORS
#2age = 30
#first-name = "sanskar"
#@name = "sanskar"

In [10]:
##Case sensitivity 
name = "sanskar"
Name = "sans"
name == Name

False

In [11]:
##Understand variable types 
##Python is dynamically typed, type of variable is defined at runtime 

age = 25 #int
height = 6.1 #float
name = "Sansar" #string 
is_student = True #bool

print(type(age))
print(type(is_student))

<class 'int'>
<class 'bool'>

In [12]:
##Type checking and conversion
type(height)

float

In [13]:
age = 25
print(type(age))

##Type conversion

age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [18]:
age = 25
print(type(age))
print(type(str(age)))
print(type(int(age)))

<class 'int'>
<class 'str'>
<class 'int'>

In [20]:
name = "sanskaqr"
print(type(name))
##print(type(int(name))) #ValueError: invalid literal for int() with base 10: 'sanskaqr'

<class 'str'>

In [22]:
height = 5.1
type(height)

float

In [23]:
int(height)

5

In [24]:
float(int(height))

5.0

In [26]:
## Dynamic typing 
## Python allows the type of a variable to change as the program executes

var = 10 #int 
print(var,type(var))

var = "hello"
print(var,type(var))

var = 3.6
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
3.6 <class 'float'>

In [28]:
##input
age = input("what is the age")
print(age,type(age))

12 <class 'str'>

In [29]:
##input
age = int(input("what is the age"))
print(age,type(age))

12 <class 'int'>

In [31]:
##Simple calculator 
num1 = float(input("Enter first numbers: "))
num2 = float(input("Enter first numbers: "))

sums = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:" , sums)
print("Difference:" , difference)
print("Multiplication:" , product)
print("Division:" , quotient)

Sum: 7.0
Difference: 1.0
Multiplication: 12.0
Division: 1.3333333333333333