**Datatypes**

**Video Outline**
    - Introduction to datatypes
    - Importance of data types in programming 
    - Basic Data Types
        Integers
        Floating point numbers
        strings
        booleans
    -Advanced Data Types
        List 
        Tuples
        Set
        Dictionary
    -Type Conversion
    -Practical Examples

**Datatypes**:
    Datatypes are the classification of data which tells teh compiler or interpreter how the programmer intends to use the data.
    They determine the type of operation that can be performed on the data the values the data can take and the memory needed to store the data

Importance of data types in programming
1) Datatypes ensure that data is stored in efficient way
2) They help in performing correct operations on data
3) Proper use of data types can prevent errors and bugs in program

In [1]:
## Integers Example
age = 35
type(age)

int

In [2]:
##Floating type data type
height = 5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [3]:
##string datatype example
name = "sanskar"
print(name)
print(type(name))

sanskar
<class 'str'>

In [7]:
##boolean datatype
type(True)

bool

In [8]:
bool()

False

In [10]:
##Common errors

#result = "Hello" + 5

In [12]:
result = "hello" + str(5)
print(result)

hello5

In [15]:
str = "hello"
len = str.__len__
print(len())  # prints 5

5