**LOOPS**

1.Introduction to loops
2.for loop
    i)Iterating over a range
    ii)Iterating over a string
3.While loop
4.Loop control statements
    i)break
    ii)continue
    iii)pass
5.Nested Loops
6.Practice Examples and common errors

In [1]:
range(5)

range(0, 5)

In [2]:
##for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [4]:
range(1,10,1)

range(1, 10)

In [5]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [6]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [8]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [9]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [10]:
##strings 
str = "Sanskar Dagade"
for i in str:
    print(i)

S
a
n
s
k
a
r

D
a
g
a
d
e

In [11]:
##while loop

##The while loop continues to excute as long as the condition is true 


count = 0
while count<5:
    print(count)
    count = count + 1

0
1
2
3
4

In [12]:
count = 0
while count % 2 == 0:
    print(count)
    count = count + 1

0

In [13]:
##Loop control statements

##break
##The break statement exists the loop prematurely

##break statement
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [14]:
##continue
##The continue statement skips the current iteration and continues with the next

for i in range(10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [15]:
##pass
##The pass statement is null operator and it does nothing

for i in range(5):
    if i==3:
        print("The number is ",i)
        pass
    print(i)

0
1
2
The number is  3
3
4

In [ ]:
##Nested loops
## a loop inside another loop is called nested loop
##f is formatting option 

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [20]:
##Examples - Calculate the sum of first N natural numbers using a while and a for loop 

##while loop 

n = 10
sums = 0
count = 1

while count <= n:
    sums = sums + count
    count = count + 1

print("Sum of first", n, "natural numbers using a while loop is:", sums)

Sum of first 10 natural numbers using a while loop is: 55

In [24]:
##for loop
n = 10
sums = 0
for i in range(11):
    sums = sums + i

print(sums)

55

In [27]:
##Example : Prime number between 1 to 100

for nums in range(1, 101):
    if nums > 1:
        for i in range(2, nums):
            if nums % i == 0:
                break
        else:
            # This else belongs to the 'for', not the 'if'
            print(nums)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

Conclusion:
    Loops are powerful constructs in Python that allow you to excute a block of code multiple times. By understanding and using for and while loops, along with loop control statements like break,continue and pass you can handle a wide range of programming tasks efficiently.